# File: requirements.txt

# Core framework and server
python-dotenv
fastapi
uvicorn[standard]

# Langchain and OpenAI related
langchain
langchain-openai
langchain-community # <--- THÊM DÒNG NÀY (0.2.5 là phiên bản mới nhất của community cho series 0.2.x)
openai
tiktoken
# Database and Supabase
supabase
psycopg2-binary

# Data validation and utilities
pydantic
numpy
python-multipart
passlib
#PyJWT-2.10.1
google-auth
tweepy
pydantic[email]
